.head {
    @include breakpoint(small) {
        font-size: 2em;
    }
    font-size: 3em;
    max-width: 1920px;
    width: 100%;
    background-color: $background-color;
    text-align: center;
    padding: 10px 0;

    h1, h2 {
        margin: 5px 0;
    }

    h1 {
        font-size: 2em;
        font-weight: 700;
    }
}

.tesasafd {
    display: flex;
    flex-wrap: wrap;
}
